<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head') %> 
    <title>Creá tu Dona</title>
<body>
    <!--incluimos partials del header-->
    <%- include('./../partials/header') %>

    <main>
        <div class="container">
            <section>
                <div class="columns is-centered"><!--REVISAR-->
                    <div class="column is-6"><!--REVISAR-->
                        <h2 class= "title-h2">Nuevo producto</h2>
                        <form action="/products" method="POST" enctype="multipart/form-data">
                            <div class="field-div">
                                <label class="label-field register-h2" for="name">Nombre</label>
                                <div class="field-text">
                                    <input type="text" name="name" id="name" required="required" minlength="5"
                                    value="<%= locals.oldData ? oldData.name : null %>">
                                </div>
                                <% if (locals.errors && errors.name) { %>
                                    <div class="text-danger field-text">
                                        <%= errors.name.msg  %> 
                                    </div>
                                <% } %>
                               
                            </div>

                            <div class="field-div">
                                <label class="label-field register-h2" for="price">Precio</label>
                                <div class="field-text">
                                    <input type="text" name="price" id="price" required="required" 
                                    value="<%= locals.oldData ? oldData.price : null %>">
                                </div>
                                <% if (locals.errors && errors.price) { %>
                                    <div class="text-danger field-text">
                                        <%= errors.price.msg  %> 
                                    </div>
                                <% } %>
                                
                            </div>

                            <div class="field-div">
                                <label class="label-field register-h2" for="discount_value">Descuento</label>
                                <div class="field-text">
                                    <input type="text" name="discount_value" id="discount_value" 
                                    value="<%= locals.oldData ? oldData.discount_value : null %>">
                                </div>
                                <% if (locals.errors && errors.discount_value) { %>
                                    <div class="text-danger field-text">
                                        <%= errors.discount_value.msg  %> 
                                    </div>
                                <% } %>
                              
                            </div>

                            <div class="field-div">
                                <label class="label-field register-h2" for="discount">Tiene descuento</label>
                                <div class="field-text">
                                    <input type="discount" name="discount" id="discount" required="required"
                                    value="<%= locals.oldData ? oldData.discount : null %>">
                                </div>
                                <% if (locals.errors && errors.discount) { %>
                                    <div class="text-danger field-text">
                                        <%= errors.discount.msg  %> 
                                    </div>
                                <% } %>
                            </div>

                            <div class="field-div">
                                <label class="label-field register-h2" for="image">Imagen de producto</label>
                                <div class="field-text">
                                    <input type="file" name="image" id="image" accept=".png, .jpg, .jpeg, .gif">
                                </div>
                              
                            </div>
                            <% if (locals.errors && errors.image) { %>
                                <div class="text-danger field-text">
                                    <%= errors.image.msg  %> 
                                </div>
                            <% } %>
                            
                            <div class="field-div">
                                <label class="label-field register-h2" for="description">Descripción</label>
                                <div class="field-text">
                                    <input type="description" name="description" id="description" required="required" minlength="20"
                                    value="<%= locals.oldData ? oldData.description : null %>">
                                </div>
                                <% if (locals.errors && errors.description) { %>
                                    <div class="text-danger field-text">
                                        <%= errors.description.msg  %> 
                                    </div>
                                <% } %>
                              
                            </div>

                            <div class="field-div">
                                <div class="field-text">
                                    <button type="submit">Crear producto</button>
                                </div>
                            </div> 
                        </form>  
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>