<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head') %> 
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Editá tu Dona</title>
<body>
    <!--incluimos partials del header-->
    <%- include('./../partials/header') %>

    <main>
        <div class="container">
            <section>
                <div class="columns is-centered"><!--REVISAR-->
                    <div class="column is-6"><!--REVISAR-->
                        <h2 class= "title-h2">Editá tu producto</h2>
                        <form action="/products/<%= product.id_product %>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="field-div">
                                <label class="label-field register-h2" for="name">Nombre</label>
                                <div class="field-text">
                                    <input type="text" name="name" id="name" value="<%= product.name %>">
                                </div>
                               
                            </div>

                            <div class="field-div">
                                <label class="label-field register-h2" for="price">Precio</label>
                                <div class="field-text">
                                    <input type="text" name="price" id="price" value="<%= product.price %>">
                                </div>
                                
                            </div>

                            <div class="field-div">
                                <label class="label-field register-h2" for="discount_value">Descuento</label>
                                <div class="field-text">
                                    <input type="text" name="discount_value" id="discoun_value" value="<%= product.discount_value %>">
                                </div>
                              
                            </div>

                            <div class="field-div">
                                <label class="label-field register-h2" for="discount">Tiene descuento</label>
                                <div class="field-text">
                                    <input type="discount" name="discount" id="discount" value="<%= product.discount %>">
                                </div>
                              
                            </div>

                            <div class="field-div">
                                <label class="label-field register-h2" for="image">Imagen de producto</label>
                                <div class="field-text">
                                    <input type="file" name="image" id="image">
                                </div>
                              
                            </div>

                            
                            <div class="field-div">
                                <label class="label-field register-h2" for="description">Descripción</label>
                                <div class="field-text">
                                    <input type="description" name="description" id="description" value="<%= product.description %>">
                                </div>
                              
                            </div>

                            
                            <div class="field-div">
                                <label class="label-field register-h2" for="iconImage">Icono de descuento</label>
                                <div class="field-text">
                                    <input type="file" name="iconImage" id="iconImage">
                                </div>
                              
                            </div>

                            <div class="field-div">
                                <div class="field-text">
                                    <button type="submit">Editar producto</button>
                                </div>
                            </div>
                        </form>
                        <div class="field-div">
                            <div class="field-text">
                                <form class="field-div" action="/products/<%= product.id_product %>?_method=delete" method="POST">
                                <button>Borrar producto</button>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>