<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head') %>
        <title>Donas</title>
    </head>
    <body>

    <!--incluimos partials del header-->
    <%- include('./../partials/header') %>

        <main>
            <div class="container">
                <section>
                    <h2 class="title-h2">Listado de Productos</h2>
                    <div >
        <!-- Menu en Base de datos -->
                        <% products.forEach(product => { %> 
                        <article class="card"> 
                            <p><strong>Nombre: <%= product.name %></strong></p>
                            <div class="card-left">
                                <figure>
                                    <img class="product_img" src= /img/<%= product.image %> alt= <%= product.name%> >
                                </figure>
                            </div>
                            <div class="card-content">
                                <p>Precio: $<%= product.price %></p>
                                <% if (product.discount === 1) { %>
                                    <p>Descuento: <%= product.discount_value %></p>
                                <% } %>
                                <p>Descripción:<%= product.description %></p>
                                <% if (categories) { %>
                                    <% categories.forEach(category => { %>
                                        <% if (category.id_category == product.id_category) { %>
                                            <p>Categoría:<%= category.name %></p>
    
                                    <% }}) %>
                                <% } %>
                            </div>
                            <% if (locals.session.userLogged && userLogged.id_rol == 1) { %>
                                <div class="field-div card-content">
                                    <div class="field-text">
                                        <button type="submit" onclick="location.href='/products/<%= product.id_product %>/edit' ">Editar producto</button>
                                    </div>
                                </div>
                            <% } %> 
                        </article>
                        <%});%>
                            
       <!-- Fin Menu en Base de datos -->
                    </div>
                </section>
            </div>
        </main>

    <!--incluimos partials del footer-->
    <%- include('./../partials/footer') %>
    </body>
</html>