<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head') %> 
        <title>Donas</title>
    </head>
    <body>

    <!--incluimos partials del header-->
    <%- include('./../partials/header') %>

        <main>
            <div class="contendor">
                <section>
                    <h2 class="title-h2">Listado de Productos</h2>
                    <div class="products">
        <!-- Menu en Base de datos -->
                        <% products.forEach(product => { %> 
                        <article> 
                            <img class="product_img" src= <%= product.images %> alt= <%= product.name%> >
                            <div>
                                <p>ID: <%= product.id %></p>
                                <p>Nombre: <%= product.name %></p>
                                <p>Precio:<%= product.price %></p>
                                <p>Descuento: <%= product.discountValue %></p>
                                <p>Descripción:<%= product.description %></p>
                            </div>
                        </article>
                        <%});%>
                            
       <!-- Fin Menu en Base de datos -->
                    </div>
                </section>
            </div>
        </main>

    <!--incluimos partials del footer-->
    <%- include('./../partials/footer') %>
    </body>
</html>