<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %> 
        <title>Donas</title>
    </head>
    <body>

    <!--incluimos partials del header-->
    <%- include('./partials/header') %>

        <section class="banner">
            <img src="img/banner2.png" alt="Banner de ofertas">
        </section>
        <main>
            <div class="contenedor">
                <section>
                    <h2 class="title-h2">Elige tu Dona</h2>
                    <div class="products">
        <!-- Menu en Base de datos -->
                        <% products.forEach(product => {  %>
                        <article> 
                            <img class="product_img" src= /img/<%= product.image %> alt= <%= product.name%> >
                            <div class="main-article">
                                <% if (product.discount == 1){;%>
                                <i class="<%= product.icon_image%>"></i>
                                <% }else { %>
                                    <img src= /img/<%= product.icon_image%> class="ico" alt= <%= product.name%> >
                                   <!--<i class="<%= product.icon_image%>"></i>-->
                                <% } %>
                                <p class="price"><%= product.price %></p>
                                <p class="discount"><%= product.discount_value %></p>
                                <a href="/productDetail"><h4 class="description"><%= product.description %></h4></a>
                            </div>
                        </article>
                        <%});%>
                            
       <!-- Fin Menu en Base de datos -->
                    </div>
                </section>
            </div>
        </main>

    <!--incluimos partials del footer-->
    <%- include('./partials/footer') %>
    </body>
</html>