<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head') %>
        <title>Donas</title>
    </head>
    <body>

    <!--incluimos partials del header-->
    <%- include('./../partials/header') %>

        <main>
            <div class="container">
                <section>
                    <h2 class="title-h2">Edita tu usuario</h2>
                    <div >
        <!-- Menu en Base de datos --> 
                        <form action="/users/<%= user.id_user %>?_method=PUT" method="POST" enctype="multipart/form-data"> 
                            <div class="field-div">
                                <label for="id">Id</label>
                                <div class="field-text">
                                    <input type="text" name="id" id="id" value="<%= user.id_user %>" readonly>
                                </div> 
                            </div>
                            <div class="field-div">
                                <label for="first_name">Nombre</label>
                                <div class="field-text">
                                    <input type="text" name="first_name" id="first_name" value="<%= user.first_name %>">
                                </div>
                            </div>
                            <div class="field-div">
                                <label for="last_name">Apellido</label>
                                <div class="field-text">
                                    <input type="text" name="last_name" id="last_name" value="<%= user.last_name %>">
                                </div>
                            </div>
                            <div class="field-div">
                                <label for="username">Username</label>
                                <div class="field-text">
                                    <input type="text" name="username" id="username" value="<%= user.username %>">
                                </div>
                            </div>
                            <div class="field-div">
                                    <label for="birthday">Fecha de Nacimiento</label>
                                    <div class="field-text">
                                        <input type="date" name="birthday" id="birthday" value="<%= user.birthday %>">
                                    </div>
                            </div>
                            <div class="field-div">
                                    <label for="email">Dirección Electrónica</label>
                                    <div class="field-text">
                                        <input type="email" name="email" id="email" value="<%= user.email %>">
                                    </div>
                            </div>
                            <div class="field-div">
                                    <label for="password">Password</label>
                                    <div class="field-text">
                                        <input type="password" name="password" id="password" value="<%= user.password %>">
                                    </div>
                            </div>
                        </div>
                        <div class="field-div">
                            <label for="avatar">Imagen de usuario</label>
                            <div class="field-text">
                                <input type="file" name="avatar" id="avatar">
                            </div>
                          
                        </div>
                            <div class="field-div">
                                <div class="field-text">
                                    <button type="submit">Editar usuario</button>
                                </div>
                            </div>
                        </form>
                        <div class="field-div">
                            <div class="field-text">
                                <form class="field-div" action="/users/<%= user.id_user %>?_method=delete" method="POST">
                                <button>Borrar usuario</button>
                                </form> 
                            </div>
                        </div>
                            
       <!-- Fin Menu en Base de datos -->
                    </div>
                </section>
            </div>
        </main>

    <!--incluimos partials del footer-->
    <%- include('./../partials/footer') %>
    </body>
</html>