<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head') %>
        <title>Donas</title>
    </head>
    <body>

    <!--incluimos partials del header-->
    <%- include('./../partials/header') %>

        <main>
            <div class="container">
                <section>
                    <h2 class="title-h2">Cambia tu Contrase単a</h2>
                        <div >
                            <form action="/users/<%= user.id_user %>?_method=PUT" method="POST" id="form-register" enctype="multipart/form-data"> 
                                <div class="field-div">
                                    <label class="label-field register-h2" for="password">Contrase単a:</label>
                                    <input class="field-text" type="password" name="password" id="password">
                                </div>
                                <div class="error-message error-password"></div>
                                <% if (locals.errors && errors.password) { %>
                                    <div class="text-danger field-text">
                                        <%= errors.password.msg  %> 
                                    </div>
                                <% } %>
                                <div class="field-div">
                                    <label class="label-field register-h2" for="confirm-password">Confirmar Contrase単a:</label>
                                    <input class="field-text" type="password" name="confirm-password" id="confirm-password">
                                </div>
                                <div class="error-message error-confirm-password"></div>
                                <div class="error-message mismatch-password"></div>
                                <div class="field-div">
                                <button class="button-register" type="submit" value="Submit">Cambiar Contrase単a</button>
                            </form>
                        </div>
                </section>
            </div>
        </main>

    <!--incluimos partials del footer-->
    <%- include('./../partials/footer') %>
    <!--incluimos Validaciones-->
    <script src='/js/users/validationsUserPassword.js'></script>
    </body>
</html>