<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partials/head') %>
        <title>Donas</title>
    </head>
    <body>

    <!--incluimos partials del header-->
    <%- include('./../partials/header') %>

        <main>
            <div class="container">
                <section>
                    <h2 class="title-h2">Edita tu usuario</h2>
                    <div >
                        <form action="/users/<%= user.id_user %>?_method=PUT" method="POST" id="form-register" enctype="multipart/form-data"> 
                            <div class="field-div">
                                <label class="label-field register-h2" for="id">Id</label>
                                <input class="field-text" type="text" name="id" id="id" value="<%= user.id_user %>" readonly>
                            </div>
                            <div class="field-div">
                                <label class="label-field register-h2" for="first_name">Nombre</label>
                                <input class="field-text" type="text" name="first_name" id="first_name" value="<%= user.first_name %>">
                            </div>
                            <div class="error-message error-first_name"></div>
                            <div class="field-div">
                                <label class="label-field register-h2" for="last_name">Apellido</label>
                                <input class="field-text" type="text" name="last_name" id="last_name" value="<%= user.last_name %>">
                            </div>
                            <div class="error-message error-last_name"></div>
                            <div class="field-div">
                                <label class="label-field register-h2" for="username">Username</label>
                                <input class="field-text" type="text" name="username" id="username" value="<%= user.username %>">
                            </div>
                            <div class="error-message error-username"></div>
                            <div class="field-div">
                                    <label class="label-field register-h2" for="birthday">Fecha de Nacimiento</label>
                                    <input class="field-text" type="date" name="birthday" id="birthday" value="<%= user.birthday %>">
                            </div>
                            <div class="error-message error-birthday"></div>
                            <div class="field-div">
                                    <label class="label-field register-h2" for="email">Dirección Electrónica</label>
                                    <input class="field-text" type="email" name="email" id="email" value="<%= user.email %>">
                            </div>
                            <div class="error-message error-email"></div>
                        </div>
                        <div class="field-div">
                            <label class="label-field register-h2" for="avatar">Imagen de usuario</label>
                            <input class="field-text" type="file" name="avatar" id="avatar"
                            value="<%= user.avatar %>"> 
                        </div>
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger field-text">
                                <%= errors.avatar.msg  %> 
                            </div>
                        <% } %>
                            <div class="field-div">
                                <div class="field-text">
                                    <button class="button-register" type="submit">Editar usuario</button>
                                </div>
                            </div>
                        </form>
                        <div class="field-div">
                            <div class="field-text">
                                <form class="field-div" action="/users/<%= user.id_user %>?_method=delete" method="POST">
                                <button class="button-register">Borrar usuario</button>
                                </form> 
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

    <!--incluimos partials del footer-->
    <%- include('./../partials/footer') %>
    <!--incluimos Validaciones-->
    <script src='/js/users/validationsUserEdit.js'></script>
    </body>
</html>