<!DOCTYPE html>
<html lang="en">
<head>
    <!--incluimos partials del head-->
    <%- include('./../partials/head') %>
    <link rel="stylesheet" href="../css/styles.css">

    <title>Donas - Login</title>
</head>
<body class="body-login">
    <!--incluimos partials del headUser-->
    <%- include('./../partials/header') %>

    <main class="login">
        <div class="contendor">
            <section class="section-login">
                <h3>¡Hola! Ingresá tu usuario, ¿Con qué vas a endulzar tu día?</h3>
                <form method="POST" action="/users/login" id="form-login">
                    <div class="field-div">
                        <label class="label-field login-h2" for="email">Dirección de Correo:</label>
                        <input  class="field-text" name="email" id="email"  placeholder="Escribe tu Mail"
                        value="<%= locals.oldData ? oldData.email : null %>">
                    </div>
                    <div class="error-message error-email"></div>
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger field-text">
                            <%= errors.email.msg  %> 
                        </div>
                    <% } %>
                    <div class="field-div">
                        <label class="label-field login-h2" for="password">Contraseña:</label>
                        <input class="field-text" type="password" name="password" id="password" placeholder="Escribí tu contraseña">
                    </div>
                    <div class="error-message error-password"></div>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger field-text">
                            <%= errors.password.msg  %> 
                        </div>
                    <% } %>
                    <div class="field-div">
                        <button class="field-button-login" type="submit">Ingresar</button>
                    </div>
                </form>
                <section class="create-account">
                    <h3>¿Eres un nuevo Usuario?</h3>
                   <a href="/users/register">Creá tu cuenta <i class="fas fa-user-circle"></i></a></li>
                </section>
            </section>
        </div>
    </main>
    <!--incluimos partials del footerUser-->
    <%- include('./../partials/footerUser') %>

    <!--incluimos Validaciones-->
    <script src='/js/users/validationsUserLogin.js'></script>
</body>
</html>