<!DOCTYPE html>
<html lang="es">
	<%- include('./../partials/head') %>
    <link rel="stylesheet" href="../css/styles.css">
<body>
	<%- include('./../partials/headerUser') %>
	
	<!-- Container -->
	<div class="container" style="margin-top: 40px;">
		<div class="col-md-3">
			<h2>Hola <%= user.first_name%> ! </h2>
		</div>
		<div class="card">
			<div class="card_img">
				<img src="/img/users/<%= user.avatar %> ">
			</div>
			<div>
				<h4>Nombre: <%= user.first_name%> </h4>
				<h4>Apellido: <%= user.last_name%> </h4>
				<h4>Username: <%= user.username%> </h4>
				<h4>Email: <%= user.email%> </h4>
				<h4>Fecha de Nacimiento: <%= user.birthday%> </h4>
				<h4>Nombre: <%= user.first_name%> </h4>
			</div>
		</div>
		<div class="admin">
			<button class="button-register" type="submit" onclick="location.href='/users/<%= user.id_user %>/edit' ">Edit치 tu Perfil</button>
			<button class="button-register" type="submit" onclick="location.href='/users/<%= user.id_user %>/editPassword' ">Edit치 tu Contrase침a</button>
		</div>
	</div>
	<div class="field-div">
		<button class="button-register" type="submit" value="Submit">Cre치 un nuevo Producto</button>
	</div>
	<!-- //Container -->
	
	<%- include('./../partials/footerUser') %>
</body>
</html>